.input {
    height: 6rem;
    padding: 0rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    outline: none;
    transition: border 0.2s;

    &--primary {
        border: 1px solid transparent;
        box-shadow: $box-shadow;
    }

    &--secondary {
        flex: 1;
        border: 1px solid $color-blue-dark;
        background-color: rgba($color-blue, $alpha: 0.1);
    }

    &:focus {    
        border: 1px solid $color-blue;
    }
}