.section {
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;

    &-half {
        width: 50%;
    }
}

.toc {
    position: fixed;
    left: 20rem;
    top: 20rem;
}

.xa {
    background-color: rgba($color-blue, $alpha: 0.1);
}