// COLOR SCHEME

$color-white: #fff;
$color-black: #000;

$color-grey: rgb(189,195,199);
$color-grey-dark: rgb(112, 112, 112);

$color-green: rgb(46, 204, 113);
$color-green-dark: rgb(39, 174, 96);

$color-red: rgb(231,76,60);
$color-red-dark: rgb(192,57,43);

$color-blue: rgb(52,152,219);
$color-blue-dark: rgb(41,128,185);

$color-purple: rgb(155,89,182);
$color-orange: rgb(230,126,34);

// BOX-SHADOWS

$box-shadow: 0rem 1rem 2rem rgba($color-black, 0.1);